{% extends 'layout.twig' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="mdl-card form">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text form--title">{{ title }}</h2>
                </div>
                <form autocomplete="off" method="POST" class="mdl-card__form" action="/doctor/add/">
                    <div class="mdl-grid">

                        <div class="mdl-cell--6-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="" class="mdl-textfield__input" name="first_name" type="text"
                                       id="first_name">
                                <label class="mdl-textfield__label" for="first_name">First name</label>
                            </div>
                        </div>

                        <div class="mdl-cell--6-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="" class="mdl-textfield__input" name="last_name" type="text"
                                       id="last_name">
                                <label class="mdl-textfield__label" for="last_name">Last name</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="" class="mdl-textfield__input" name="email" type="email" id="email">
                                <label class="mdl-textfield__label" for="email">Email</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="" class="mdl-textfield__input" name="phone" type="tel" id="phone">
                                <label class="mdl-textfield__label" for="phone">Phone</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col mdl-cell--action">
                            <button class="mdl-button mdl-js-button" type="submit">Save</button>
                            <a href="#" onclick="window.history.back();"
                               class="mdl-button mdl-js-button mdl-button--second">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
