<footer class="mdl-mini-footer" style="padding: 8px">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo"> © Dibetes, 2019 All rights reserved</div>
        <ul class="mdl-mini-footer__link-list">
            <li><a class="hovered-footer" href="/help.html">Help</a></li>
            <li><a class="hovered-footer" href="/privacy-and-term.html">Privacy & Terms</a></li>
            <li><a class="hovered-footer" href="/about.html">About us</a></li>
        </ul>
    </div>
</footer>