{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="mdl-card form">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text form--title">{{ title }}</h2>
                </div>
                <form autocomplete="off" method="POST" class="mdl-card__form" action="/letter">
                    <div class="mdl-grid">

                        <div class="mdl-cell--12-col">
                            <div class="mdl-textfield mdl-js-textfield getmdl-select mdl-textfield--floating-label">
                                <input type="text" value="" class="mdl-textfield__input"
                                       id="email">
                                <input type="hidden" value="" name="email">
                                <label for="email" class="mdl-textfield__label">Doctor</label>
                                <ul for="email" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                    {% for value in doctors %}
                                        <li class="mdl-menu__item"
                                            data-val="{{ value.email }}"> {{ value.first_name }} {{ value.last_name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col">
                            <div class="mdl-textfield--floating-label mdl-textfield mdl-js-textfield">
                                <input value="" class="mdl-textfield__input" name="days" type="number" id="days"
                                       data-required min="1" , step="1">
                                <label class="mdl-textfield__label" for="days">By how many days?</label>
                            </div>
                        </div>

                        <div class="mdl-cell--12-col mdl-cell--action">
                            <button class="mdl-button mdl-js-button" type="submit">Send</button>
                            <a href="#" onclick="window.history.back();"
                               class="mdl-button mdl-js-button mdl-button--second">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
